#!/bin/sh

BACKUP_DIR=/opt
ROTATE_DAYS="+5"
NAME=`date +%H%M-%d%m%Y.bz2`

docker exec {{ dbmysql_container_name }} bash -c 'exec mysqldump --skip-comments=true --quick=true --lock-tables=false --default-character-set=utf8 --databases "$MYSQL_DATABASE" -hdbmysql -u"$MYSQL_USER" -p"$MYSQL_PASSWORD"' | bzip2 -c9 > "$BACKUP_DIR"/omo_hocmai_"$NAME";

find $BACKUP_DIR/ -mtime $ROTATE_DAYS -type f -exec rm -f {} \;
