upload_max_filesize = {{ upload_max_filesize }}
post_max_size = {{ post_max_size }}
session.cookie_lifetime = {{ session_cookie_lifetime }}
session.gc_maxlifetime = {{ session_gc_maxlifetime }}
session.cache_expire = {{ session_cache_expire }}
